@mixin media($width, $type: min) {
  @if map_has_key($prrrcl-breakpoints, $width) {
    $width: map_get($prrrcl-breakpoints, $width);

    @media (#{$type}-width: $width) {
      @content;
    }
  }
}
@mixin transition($time) {
  -webkit-transition: $time cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: $time cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: $time cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: $time cubic-bezier(0.77, 0, 0.175, 1);
  transition: $time cubic-bezier(0.77, 0, 0.175, 1);
}

@mixin flexCenter ($align){
  display: flex;
  align-items: $align;
  flex-direction: column;
}

@mixin buttonTitle ($font-size, $color, $padding){
  font-size: $font-size;
  color: $color;
  padding: $padding;
}

@mixin formInput {
    width: 100%;
    height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #CFCFCF;
    border-radius: 9px;
    opacity: 1;
    margin-bottom: 20px;
    font-size: 18px;
    padding: 0 7px;
}

@mixin formLabel {
    width: 100%;
    height: 19px;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0;
    opacity: 1;
}