.other-message {
  align-self: flex-start;
  padding: 10px 20px 10px 50px;
  margin: 0 0 5px;
  background: rgba(0,122,255,.1);
  border-radius: 5px;
  position: relative;
  span{
    left:10px
  }
}
.me-message {
  align-self: flex-end;
  padding: 10px 50px 10px 20px;
  margin: 0 0 5px;
  background: rgba(0,0,0,.04);
  border-radius: 5px;
  position: relative;
  span{
    right:10px
  }
}
